{# Form allowing to add a member to an organization #}

<div class="clear">
<h2>{{ __('Add a member', 'civicrm-frontoffice') }}</h2>

<h3>{{ __('Search for a member', 'civicrm-frontoffice') }}</h3>

{# Search form #}
<form method="post">
    <div class="panel panel--red">
        <div class="row row--auto">
            <label><span class="placehold_label">{{ __('First name', 'civicrm-frontoffice') }} *</span>
                <input required="required" type="text" name="civicrm_search[first_name]" value="{{ search.first_name }}" />
            </label>
            <label><span class="placehold_label">{{ __('Last name', 'civicrm-frontoffice') }} *</span>
                <input required="required" type="text" name="civicrm_search[last_name]" value="{{ search.last_name }}" />
            </label>
        </div>
        <div class="text-center">
            <button class="btn btn--search">{{ __('Search', 'civicrm-frontoffice') }}</button>
        </div>
    </div>
</form>

{# Search results #}
{% if contacts %}
    <form action="{{ add_query_arg({civicrm_action: 'add_member', civicrm_id: contact.get('contact_id')}) }}" method="post" data-form>
        <div class="members">
            <div class="members__count">
                {{ _n('%s member found', '%s members found', contacts|length, 'civicrm-frontoffice')|format(contacts|length) }}
            </div>
            <div class="members__members">
            {% for member in contacts %}
                <div class="members__member member panel">
                    {% if shortcode_exists('avatar') and member.getUser() %}
                        {% filter shortcodes %}
                            [avatar user="{{ member.getUser().get('id') }}"]
                        {% endfilter %}
                    {% else %}
                        {# Display default avatar #}
                    {% endif %}
                    <span class="member__name">{{ member.get('display_name') }}</span>
                    <br/>
                    {% if member.isMember(contact, relationshipType) %}
                        {{ __('Already a member', 'civicrm-frontoffice') }}
                    {% else %}
                        {% include 'inc/relationship_form.twig'
                        with {member: member, modal: true, submitLabel: __('Add to organization', 'civicrm-frontoffice')} %}
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </form>
{% elseif search %}
    {{ __('No member found', 'civicrm-frontoffice') }}
{% endif %}
</div>
