{# Form allowing to edit a reliationship #}

<div class="clear">
    <form method="post">
        {% include 'inc/relationship_form.twig'
        with {member: contact, contact: organization, relationship: relationship, submitLabel: __('Save', 'civicrm-frontoffice')} %}

        {{ wp_nonce_field('edit_relationship') }}
    </form>
</div>
