{# Form allowing to edit the current user profile #}

<form method="POST" class="clear">
    <h2>{{ contact.get('display_name') }}</h2>
    {% include 'inc/form_row.twig'
        with {required: true, id: 'first_name', label: __('First name', 'civicrm-frontoffice'), value: contact.get('first_name')} %}
    {% include 'inc/form_row.twig'
        with {required: true, id: 'last_name', label: __('Last name', 'civicrm-frontoffice'), value: contact.get('last_name')} %}

    {# Gender #}
    <label><span class="placehold_label">Genre</span>
        <select name="gender_id">
            <option value=""></option>
            {% for gender in genders %}
                <option
                {% if contact.get('gender_id') == gender.id %}
                    selected
                {% endif %}
                value="{{ gender.id }}">{{ gender.name }}</option>
            {% endfor %}
        </select>
    </label>

    {% include 'inc/form_row.twig'
        with {id: 'phone', label: __('Phone', 'civicrm-frontoffice'), value: contact.get('phone')} %}
    {% include 'inc/form_row.twig'
        with {required: true, id: 'email', label: __('E-mail', 'civicrm-frontoffice'), value: contact.get('email')} %}

    <label>
        <input name="do_phone" type="checkbox" {% if not contact.get('do_not_phone') %}checked{% endif %} />
        {{ __('I agree to being contacted on my phone.', 'civicrm-frontoffice') }}
    </label>
    <label>
        <input name="do_email" type="checkbox" {% if not contact.get('do_not_email') %}checked{% endif %} />
        {{ __('I agree to being contacted by e-mail.', 'civicrm-frontoffice') }}
    </label>

    <br />

    {{ wp_nonce_field('edit_member') }}

    <input type="submit" value="{{ __('Save', 'civicrm-frontoffice') }}" />
</form>
