{# Form allowing to upload an avatar for the current user #}

<div class="clear">
    <h2>{{ user.get('display_name') }}</h2>
    {% filter shortcodes %}
        [avatar_upload]
    {% endfilter %}
</div>
