{# Form allowing to search an organization #}

<div class="clear">
    {# Search form #}
    <form action="{{ redirect }}" class="panel panel--red">
        <div class="contact-network__fields row row--auto">
            <label>
                <span class="placehold_label">
                    {{ __('Organization name', 'civicrm-frontoffice') }}
                </span>
                <input maxlength="128" type="text" name="civicrm_search[name]" value="{{ search.name|stripslashes }}"/>
            </label>

            <label>
                <span class="placehold_label">{{ __('State', 'civicrm-frontoffice') }}</span>
                <select name="civicrm_search[province]">
                    <option value=""></option>
                    {% for province in provinces %}
                        <option {% if search.province == province.get('id') %} selected="selected" {% endif %} value="{{ province.get('id') }}">
                            {{ province.get('abbreviation') }}
                            -
                            {{ province.get('name') }}
                        </option>
                    {% endfor %}
                </select>
            </label>

            {% if tagset %}
                <label>
                    <span class="placehold_label">{{ tagset.get('name') }}</span>
                    <select name="civicrm_search[tag]">
                        <option value=""></option>
                        {% for tag in tagset.getChildren('name') %}
                            <option {% if search.tag == tag.get('id') %} selected="selected" {% endif %} value="{{ tag.get('id') }}">{{ tag.get('name') }}</option>
                        {% endfor %}
                    </select>
                </label>
            {% endif %}

            <div class="contact-network__buttons">
                <button type="submit">{{ __('Search', 'civicrm-frontoffice') }}</button>
            </div>
        </div>

    </form>

    {# Search results #}
    {% if contacts %}
        <p>
            <strong>{{ _n('Found %s organization', 'Found %s organizations', nbContacts, 'civicrm-frontoffice')|format(nbContacts) }}</strong>
        </p>
        <div class="row row--align-center">
            <p class="is-text-left">
                {{ __('Afficher','civicrm-frontoffice') }}
                {% include 'inc/per_page_dropdown.twig' %}
            </p>
            <div class="pagination">
                <ul class="pagination menu menu--horizontal">
                    <li class="menu__item first {% if offset <= 0 %}disabled{% endif %}">
                        <a class="menu__link" href="{% if offset > 0 %}{{ add_query_arg('civicrm_offset', 0) }}{% else %}#{% endif %}">Première</a>
                    </li>
                    <li class="menu__item prev {% if offset <= 0 %}disabled{% endif %}">
                        <a class="menu__link" href="{% if offset > 0 %}{{ add_query_arg('civicrm_offset', offset - limit) }}{% else %}#{% endif %}">Précédente</a>
                    </li>
                    <li class="menu__item next {% if (offset + limit) >= nbContacts %}disabled{% endif %}">
                        <a class="menu__link" href="{% if (offset + limit) < nbContacts %}{{ add_query_arg('civicrm_offset', offset + limit) }}{% else %}#{% endif %}">Suivante</a>
                    </li>
                    <li class="menu__item last {% if (offset + limit) >= nbContacts %}disabled{% endif %}">
                        <a class="menu__link" href="{% if (offset + limit) < nbContacts %}{{ add_query_arg('civicrm_offset', maxOffset) }}{% else %}#{% endif %}">Dernière</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row--2">
            <div class="accordions" data-accordions="data-accordions">
                {% for contact in contacts %}
                    {% include 'inc/search_result.twig' with {
                        contact: contact,
                        postgrid: true,
                        search: false
                    } %}
                {% endfor %}
            </div>

            {% if map %}
            <div id="map" style="width: 600px; height: 400px;" data-markers="{{ map|json_encode()|e('html') }}"></div>
            {% endif %}

        </div>
        <div class="pagination">
            <ul class="pagination menu menu--horizontal">
                <li class="menu__item first {% if offset <= 0 %}disabled{% endif %}">
                    <a class="menu__link" href="{% if offset > 0 %}{{ add_query_arg('civicrm_offset', 0) }}{% else %}#{% endif %}">Première</a>
                </li>
                <li class="menu__item prev {% if offset <= 0 %}disabled{% endif %}">
                    <a class="menu__link" href="{% if offset > 0 %}{{ add_query_arg('civicrm_offset', offset - limit) }}{% else %}#{% endif %}">Précédente</a>
                </li>
                <li class="menu__item next {% if (offset + limit) >= nbContacts %}disabled{% endif %}">
                    <a class="menu__link" href="{% if (offset + limit) < nbContacts %}{{ add_query_arg('civicrm_offset', offset + limit) }}{% else %}#{% endif %}">Suivante</a>
                </li>
                <li class="menu__item last {% if (offset + limit) >= nbContacts %}disabled{% endif %}">
                    <a class="menu__link" href="{% if (offset + limit) < nbContacts %}{{ add_query_arg('civicrm_offset', maxOffset) }}{% else %}#{% endif %}">Dernière</a>
                </li>
            </ul>
        </div>

    {% elseif search %}
        {{ __('No organization found', 'civicrm-frontoffice') }}
    {% endif %}
</div>
