{# Display information about an organization #}

{% if user.canEdit(contact) %}
    <a class="header-button btn btn--hollow contact__edit" href="{{ add_query_arg('civicrm_action', 'edit_organization') }}">
        {{ __('Edit', 'civicrm-frontoffice') }}
    </a>
{% endif %}

<div class="contact clear">

    <h2 class="contact__name">{{ contact.get('display_name') }}</h2>

    {% if contact.get('nick_name') %}
        <strong>{{ __('Abbreviation:', 'civicrm-frontoffice') }}</strong>
        {{ contact.get('nick_name') }}<br/>
    {% endif %}

    {% set tags = contact.getTags(tagset) %}
    {% if tagset and tags %}
        <strong>{{ tagset.get('name') }}{{ __(':', 'civicrm-frontoffice') }}</strong>
        {{ tags|join(', ') }}
    {% endif %}

    <p class="contact__note">
        {{ note.get('note')|nl2br }}
    </p>

    {% if contact.get('city') %}
        <p class="contact__address">
            {{ contact.get('street_address') }}<br/>
            {% if contact.get('supplemental_address_1') %}
                {{ contact.get('supplemental_address_1') }}<br/>
            {% endif %}
            {{ contact.get('state_province_name') }}<br/>
            {{ contact.get('postal_code') }}
            {{ contact.get('city') }}
        </p>
    {% endif %}

    {% if contact.get('phone') %}
        <p class="contact__phone"><a href="tel:{{ contact.get('phone') }}">{{ contact.get('phone') }}</a></p>
    {% endif %}
    {% if contact.get('email') %}
        <p class="contact__email"><a href="mailto:{{ contact.get('email') }}">{{ contact.get('email') }}</a></p>
    {% endif %}

    {% if contact.getWebsites() %}
        <div>
            {% for website in contact.getWebsites() %}
                {% if website.getType().name not in ['Facebook', 'Twitter', 'Instagram'] and website.get('url') %}
                    <p class="contact__websites">
                        {{ website.getType().name }}{{ __(':', 'civicrm-frontoffice') }}
                        <a target="_blank" href="{{ website.get('url') }} ">{{ website.get('url') }}</a>
                    </p>
                {% endif %}
            {% endfor %}
            {% for website in contact.getWebsites() %}
                {% if website.getType().name == 'Facebook' and website.get('url') %}
                    <a target="_blank" class="social-icon" href="{{ website.get('url') }}">
                        <img src="{{ plugin_dir_url() }}/img/ico_fb.png" alt="{{ website.getType().name }}" title="{{ website.getType().name }}">
                    </a>
                {% elseif website.getType().name == 'Twitter' and website.get('url') %}
                    <a target="_blank" class="social-icon" href="{{ website.get('url') }}">
                        <img src="{{ plugin_dir_url() }}/img/ico_twitter.png" alt="{{ website.getType().name }}" title="{{ website.getType().name }}">
                    </a>
                {% elseif website.getType().name == 'Instagram' and website.get('url') %}
                    <a target="_blank" class="social-icon" href="{{ website.get('url') }}">
                        <img src="{{ plugin_dir_url() }}/img/ico_instagram.png" alt="{{ website.getType().name }}" title="{{ website.getType().name }}">
                    </a>
                {% endif %}

            {% endfor %}
        </div>
    {% endif %}
</div>
