{# Display information about an user #}

<div class="header-button">
    {% if user.get('id') == contact.get('id') %}
        <a class="contact__button btn" href="{{ add_query_arg('civicrm_action', 'edit_member') }}">
            {{ __('Edit', 'civicrm-frontoffice') }}
        </a>
        {% if shortcode_exists('avatar') %}
            <a class="contact__button btn btn--hollow" href="{{ add_query_arg('civicrm_action', 'edit_avatar') }}">
                {{ __('Edit avatar', 'civicrm-frontoffice') }}
            </a>
        {% endif %}
    {% endif %}
</div>

<div class="contact clear">

    {% if from %}
        <a class="back-link icon icon--chevron-left lh1" href="{{ add_query_arg({civicrm_action: 'show_members', civicrm_id: from.get('id')}) }}">
            {{ __('Members', 'civicrm-frontoffice') }}
        </a>
    {% endif %}

    <h3 class="contact__name">{{ contact.get('display_name') }}</h3>

    <div class="panel contact__row--horizontal">
        <div class="contact__avatar">
            {% if shortcode_exists('avatar') and contact.getUser() %}
                {% filter shortcodes %}
                    [avatar user="{{ contact.getUser().get('id') }}"]
                {% endfilter %}
            {% else %}
                {# Display default avatar #}
            {% endif %}
        </div>

        <div class="contact__details">

            <p class="contact__name">{{ contact.get('first_name') }}</p>
            <p class="contact__name">{{ contact.get('last_name') }}</p>
            {% if contact.get('gender') %}
                <p class="contact__gender">{{ contact.get('gender') }}</p>
            {% endif %}
        </div>
        <div class="contact__details contact__details--right">

            {# Only display the phone and e-mail of people in the same organization. #}
            {% if user.isComember(contact, relationshipType) %}
                {% if contact.get('phone') %}
                    <p class="contact__phone">
                        <a href="tel:{{ contact.get('phone') }}">{{ contact.get('phone') }}</a>
                    </p>
                {% endif %}
                {% if contact.get('email') %}
                    <p class="contact__email">
                        <a href="mailto:{{ contact.get('email') }}">{{ contact.get('email') }}</a>
                    </p>
                {% endif %}
            {% endif %}

            {% if shortcode_exists('bbpm-contact-link') and user.get('id') != contact.get('id') and contact.getUser() %}
                {% filter shortcodes %}
                    <a href="[bbpm-contact-link user_id='{{ contact.getUser().get('id') }}']">
                        {{ __('Send a message', 'civicrm-frontoffice') }}
                    </a>
                {% endfilter %}
            {% endif %}
        </div>

    </div>

    {% set organizations = contact.getOrganizations(relationshipType) %}
    <div class="associations">
        <h4 class="associations__title">{{ __('Organizations', 'civicrm-frontoffice') }}</h4>

        {% if organizations %}
            <ul class="associations__list">
                {% for organization in organizations %}
                    <li class="associations__association">
                        <div class="associations__association-flex">
                            <div class="associations__details">
                                <strong class="associations__association-name">
                                    <a href="{{ add_query_arg({civicrm_action: 'show_organization', civicrm_id: organization.get('id')}) }}">
                                        {{ organization.get('display_name') }}</a>
                                </strong>

                                {% set description = contact.getParentRelationship(organization, relationshipType).get('description') %}
                                {% set admin = (contact.getParentRelationship(organization, relationshipType).get('is_permission_a_b') == 1) %}
                                {% if description or admin %}
                                    <div class="associations__role">
                                        {% if description %}
                                            <i>{{ description }}</i>
                                        {% endif %}
                                        {% if admin %}
                                            {% if description %}
                                                {{ __('and', 'civicrm-frontoffice') }}
                                            {% endif %}
                                            <i>{{ __('admin', 'civicrm-frontoffice') }}</i>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="association__buttons">
                                {% if user.canEdit(organization) %}
                                    <a class="icon icon--pen icon--fade" href="{{ add_query_arg({civicrm_action: 'edit_relationship', civicrm_id: contact.getParentRelationship(organization, relationshipType).get('id')}) }}">
                                        <span class="icon__fallback">{{ __('Edit', 'civicrm-frontoffice') }}</span>
                                    </a>
                                {% endif %}
                                {% if user.canEdit(organization) or user.get('id') == contact.get('id') %}
                                    <a class="icon icon--trash icon--fade" href="{{ add_query_arg({civicrm_action: 'remove_organization', civicrm_id: contact.getParentRelationship(organization, relationshipType).get('id'), _wpnonce: wp_create_nonce('remove_organization')}) }}">
                                        <span class="icon__fallback">{{ __('Delete', 'civicrm-frontoffice') }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ __('This account is not linked to any organization.', 'civicrm-frontoffice') }}
        {% endif %}

        <div class="contact__buttons">
            {% if user.get('id') == contact.get('id') %}
                <a class="contact__button btn btn--small" href="{{ add_query_arg('civicrm_action', 'add_organization', '') }}">
                    {{ __('Add an organization', 'civicrm-frontoffice') }}
                </a>
            {% endif %}
        </div>
    </div>

</div>
